.App {
  text-align: center;
  font-family: American Typewriter;
}

.homeContent {
  height: 90vh;

  
}

/* .navheight {
  height: 10vh;
  width: 100vw;
 padding-bottom: 10px;
} */


.scroll {  
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: justify;
  position: relative
}