.infoCard3Style {
    width: 50vw;
    height: 50vh
}

@media only screen and (max-width: 1151px)  {
    .infoCard3Style {
        width: 50vw;
        height: 90vh;
        padding-bottom: 10px;
    }
}

@media only screen and (max-width: 942px) and (max-height: 807px) {
    .infoCard3Style {
        width: 50vw;
        height: 90vh;
        padding-bottom: 10px;
    }
}

@media only screen and (max-width: 1380px) and (max-height: 560px) {
    .infoCard3Style {
        width: 50vw;
        height: 75vh;
        padding-bottom: 10px;
    }
}

@media only screen and (max-width: 1024px) and (max-height: 600px) {
    .infoCard3Style {
        width: 50vw;
        height: 80vh;
        padding-bottom: 10px;
        text-align: center;
    }
}




@media only screen and (max-width: 937px) and (max-height: 523px) {
    .infoCard3Style {
        width: 50vw;
        height: 90vh;
        padding-bottom: 10px;
    }
}

@media only screen and (max-width: 913px) and (max-height: 1000px) {
    .infoCard3Style {
        width: 50vw;
        height: 75vh;
        padding-bottom: 10px;
        
    }
}


@media only screen and (max-width: 767px) {
    .infoCard3Style {
        width: 100vw;
        height: auto;
        padding-bottom: 10px;
        text-align: center;
    }

    .addSpace {
        padding-bottom: 40px;
    }
}
